* {
	font-size: 16px;
}

body {
	margin: 4rem;
}

.comment-start {
	font-family: Neue Plak;
	font-size: 0.72rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}

.item-code {
	font-family: Neue Plak;
	font-size: 0.72rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;

	margin-top: 2rem;
}

.footer {
	margin-top: 8rem;
}



iframe {
	border: solid 1px black;
}

a {
	text-decoration: underline;
}

a:hover {
	cursor: alias;
}

.link {
	font-family: GT Super Display Light;
	font-size: 1.5rem;
	text-decoration: none;
}

img {
	width: 100%;
}

.photo-grid {
	display: grid;
	grid-template: auto / 1fr 1fr 1fr;
	grid-gap: 0.5rem;
}

video:focus {
	outline: none;
}

audio:focus {
	outline: none;
}